.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1cb3c8;
    color: white;
    text-align: center;
    padding: 10px;
}

.header {
    text-align: center !important;
    padding: 10px;
    color: white;
    background-color: #1cb3c8;
}

body {
    background-color: #3c415e;
}

.div-pricipal {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: auto;
    background-color: white;
    border: 1px solid;
    border-color: #738598;
    padding: 10px
}

.table {
    border-bottom: 0px !important;
}

.table th,
.table td {
    border: 1px !important;
}

.fixed-table-container {
    border: 0px !important;
}

.container {
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
}